body {
  background-image: url("../images/backgroundimage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fffe;
  font-size: 20pt;
  font-family: 'Londrina Shadow', cursive;
}
